{% extends 'pics/base.html' %}

{% block content %}
{% if form.errors %}
<div class="container text-center pt-2">
<p>Your username or password was not correct. Please try again.</p>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
<div>
    <p>{{next}}</p>
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
</div>
    {% endif %}
{% endif %}

<div class="container text-center pt-3">
    <h1>Please Login</h1>
</div>

<div class="container">
    <form class="container col-4" action="./" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
            <label class="form-check-label" for="rememberMeCheckbox">Remember me</label>
        </div>
        <button type="submit" value="login" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{next|default:'/feed/'}}">
        <div class="container signup-link mx-auto mt-4 text-center">
        <small><a href="/signup">Create an account</a></small>
        </div>
    </form>
</div>
{% endblock %}