{% extends 'pics/base.html' %}

{% block content %}
<input type="hidden" id="page-name" value="photos"/>
<div class="container my-5">
    <h2>{{username}}</h2>
    <input type="hidden" id="user_id" value="{{user_id}}"/>
    {% csrf_token %}
    {% if user.username != username %}
    {% if is_following %}
    <button class="btn btn-primary" name="following" onclick="toggleFollow(this)">Following</button>
    {% else %}
    <button class="btn btn-outline-primary" name="not_following" onclick="toggleFollow(this)">Follow</button>
    {% endif %}
    {% endif %}
</div>
<div id="photo-content">
{% for media in media %}
{% include 'pics/photo_content.html' %}
{% endfor %}
</div>
{% endblock %}