<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos for {{username}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>{{username}}</h1>

    {% for media in media %}
    <div class="container">
        {% if media.media_type == 'VIDEO' %}
        <video width="614" height="614" controls>
            <source src="{{media.url}}" type="video/mp4">
        </video>
        {% else %}
        <img src="{{media.url}}" width="614" height="614" />
        {% endif %}
        <p>
        {% if media.caption %}
            {{media.caption}}
        {% endif %}
        </p>
    </div>
    {% endfor %}
</body>
</html>