{% extends 'pics/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Create an account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {% if field.field.required %}
            *
            {% endif %}

            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
            <img src="{% static 'images/info_icon.svg' %}" width="20" height="20" data-toggle="tooltip" data-placement="right" data-html="true" data-container="body" title="{{field.help_text}}" />
            {% endif %}

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}