{% extends 'pics/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center pt-3">
    <h1>Create an account</h1>
</div>
<div class="container">
    <form class="container col-4" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {% if field.field.required %}
            *
            {% endif %}

            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
            <img src="{% static 'images/info_icon.svg' %}" width="20" height="20" data-toggle="tooltip" data-placement="right" data-html="true" data-container="body" title="{{field.help_text}}" />
            {% endif %}

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}