{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
{% include "pics/top_nav.html" %}
<div class="container">
    <h2>Create an account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {% if field.field.required %}
            *
            {% endif %}

            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
            <img src="{% static 'images/info_icon.svg' %}" width="20" height="20" data-toggle="tooltip" data-placement="right" data-html="true" data-container="body" title="{{field.help_text}}" />
            {% endif %}

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% include "pics/bootstrap_js.html" %}
<script language="javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
</body>
</html>