.photo-caption {
    display: inline;
}

.tooltip-inner {
    max-width: 100% !important;
    text-align: left;
}

.comment-text {
    display: block;
    background-color: #ededed;
    width: 600px;
}

.signup-link {
    display-block;
    width: 200px;
}