html, body {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

.main-header {
    background: #fff !important;
    border-bottom: 1px solid #dbdbdb;
}

.post-button {
    height: 46px;
    display: block;
}

.photo-caption {
    display: inline;
}

.tooltip-inner {
    max-width: 100% !important;
    text-align: left;
}

.comment-text {
    display: block;
    background-color: #ededed;
    width: 600px;
}

.signup-link {
    display: block;
    width: 200px;
}

.min-width {
    width: min-content;
}

.thin-border {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.vspace-100 {
    height: 100px;
    display: block !important;
}