html, body {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

.main-header {
    background: #fff !important;
    border-bottom: 1px solid #dbdbdb;
}

.post-button {
    height: 46px;
    display: block;
}

.photo-caption {
    display: inline;
}

.tooltip-inner {
    max-width: 100% !important;
    text-align: left;
}

.comment-text {
    display: block;
    background-color: #ededed;
    width: 600px;
}

.signup-link {
    display: block;
    width: 200px;
}

.min-width {
    width: min-content;
}

.thin-border {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.vspace-100 {
    height: 100px;
    display: block !important;
}

.like-count {
    display: block !important;
    font-weight: bold;
}

.photo-caption {
    display: block !important;
}

.photo-caption a {
    color: black;
}

.photo-username a {
    color: black;
}

.comment-form {
    border-top: 1px solid #dbdbdb;
    position: relative;
}

.comment-text {
    display: inline;
    width: 88%;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    background: white;
}

.comment-submit {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #c3dcf7;
    background: white;
    border: none;
}

.comment-submit-active {
    color: #3e95ef !important;
}